#headerContainer{
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    border-bottom: 2px solid rgb(114, 114, 114);
    background-color: white;
    z-index: 10;

    p{
        font-weight: 500;
        font-size: 2rem;
    }

    i{
        font-size: 1.5rem;
        cursor: pointer;
    }
}