#notificationsContainer{
    padding: var(--small-padding);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .notification{
        width: 100%;
        padding: 1rem;
        border-radius: 10px;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.45);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.45);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.45);

        .header{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-transform: capitalize;
            font-size: 1.3rem;
            font-weight: 500;
        }

        .med{
            margin-top: .5rem;
            font-size: 1.2rem;
        }
    }
}