* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  --small-padding: 1rem;
  --med-padding: 1.5rem;
  --large-padding: 2rem;

  --footer-small-padding: 2.5rem;
  --footer-med-padding: 3rem;
  --footer-large-padding: 3.5rem;

  --color-primary: #2F80ED;
  --color-primary-dark: #0d3c82;
}
